DISCORD_TOKEN=MTQ5NjEwNzg5NDQ1MjY1NDEyMA.Gb7qIL.1LLEsA6v79AygWwa8RzvhGfG6_0ffriFs44VyA
DATABASE_URL=postgresql://postgres:TBGgMXYnARQuqxYTLyxnURSIpgonNecr@postgres.railway.internal:5432/railway
PREFIX=!
